.hnm-homepage {
   /* border: 1px solid red; */
   width: 100%;
   font-size: 11px;
   text-align: center;
   padding: 10px 0px;
}

.hnm-homepage>span {
   color: rgb(229, 0, 16);
}

.men-pg-lay {
   border: 1px solid black;
   width: 100%;
   display: flex;
   padding: 0px 50px 0px 30px;
   margin-top: 26px;
}

.men-pg-cat {
   /* border: 1px solid red; */
   width: 200px;
}

.men-pg-cat>div:nth-child(1)>h4:nth-child(1) {
   margin-top: 0px;
}

.men-pg-cat-text>h4 {
   margin-top: 24px;
   margin-bottom: 8px;
}

.men-pg-cat-text>p {
   font-size: 13px;
   padding: 4px 0px;
}



.men-pg-content {
   border: 1px solid blue;
   width: 60.7%;
   margin: 0px 0px 0px 18px;
}

.men-pg-img-1 {
   /* border: 1px solid navy; */
   width: 100%;
   height: 640px;
   background-image: url(https://image.hm.com/content/dam/global_campaigns/season_08/men/3078l/3078L-3x2.jpg?imwidth=657);
   background-position: center;
   background-size: cover;
}

.men-pg-bg {
   background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35));
   height: 100%;
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.men-pg-tag-1 {
   /* border: 1px solid green; */
   display: flex;
   align-items: center;
   justify-content: flex-end;
   margin-top: 225px;
   margin-right: 375px;
}

.tag-price {
   background-color: rgb(34, 34, 34);
   border-radius: 4px;
   color: white;
   padding: 16px;
   font-size: 16px;
   font-weight: 500;
}

.right-arrow-icon {
   color: rgb(34, 34, 34);
   font-size: 35px;
   margin-left: -9px;
}

.men-pg-text-1>p:nth-child(1) {
   font-size: 42px;
   font-weight: 700;
   text-align: center;
   margin-bottom: 5px;
}

.men-pg-text-1>p:nth-child(2) {
   font-size: 14px;
   font-weight: 500;
   text-align: center;
   margin-bottom: 20px;
}

.pro-button {
   display: flex;
   justify-content: center;
   margin-bottom: 55px;
 }

 .shop-button{
  border: none;
  border-radius: 0;
  background-color: white;
  padding: 8px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(34, 34, 34);
  margin: 0px 4px;
}